html, body {
  margin: 0;
  padding: 0;
  width: 1250px;
}
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 5;
  background-color: white;
  position: fixed;
}
.container {
  display: flex;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  justify-content: space-between;;
  align-items: center;
}
.item {
  height: auto;
  width: auto;
  margin: 0 15px;
}

.nav li {
  display: inline-block;
  margin: 0 5px;
}
  .nav li a {
    color: black;
  }
.logo {
  color: mediumaquamarine;
  display: flex;
  align-items: center;
}
  .logo span {
    margin-left: 13px;
  }
  .column, .article, .content {

  }
  main {
    display: flex;
    position: relative;
    top: 150px;
    justify-content: space-around;
    bottom: 150px;
  }
.column {
  display: flex;
  flex-direction: column;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
.article p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.title {
  font-family: Georgia;
  font-weight: bold;
  color: white;
  display: flex;
  height: 250px;
}
.one {
  background-image: url('../images/img-story-main.png');
  background-size: cover;
  font-size: 40px;
}
.two {
  background-image: url('../images/img-story-2.png');
  background-size: auto;
  font-size: 30px;
}
.three {
  background-image: url('../images/img-story-3.png');
  background-size: auto;
  font-size: 30px;
}
.five {
  background-image: url('../images/img-story-1.png');
  background-size: cover;
  font-size: 30px;
}
.theory {
  display: flex;
  height: 700px;
  width: auto;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-around;
}
.theory .article {
  width: auto;
  height: auto;
  margin: 20px 20px;
  position: relative;
}
.theory .article .content {
  width: auto;
  position: relative;
  margin: 10px auto;
  min-height: 290px;
}
.content h1 {
  width: auto;
  position: relative;
  margin: 10px auto;
  min-height: 120px;
}
.content p {
  width: auto;
  position: relative;
  margin: 20px auto;
}
.theory .article .title {
  width: auto;
  position: relative;
  margin: 40px auto;
  text-align: center;
}
